{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<section class="h-100 h-custom" style="background-color: #021b43;">
  <div class="container py-3 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card rounded-3">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2"> </h3>

    <div id="absoluteCenteredDiv">

               <div class="buttons">
                    <div class="green-button">
                      <a href="/forms">Open Account</a>
                    </div>

            </div>

    </div>
               </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>

{% endblock %}
